//output: index.html
doctype html
html(lang="lt")
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title FoodIsBeautiful
  link(rel="stylesheet", href="css/style.css")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900")
body
  .first
    img.full(src="images/5.jpg")
  .second
    img.half(src="images/2.jpg")
    img.half(src="images/6.jpg")
  .first
    img.full(src="images/3.jpg")
  .first
    img.full(src="images/10.jpg")
  .second
    img.half(src="images/9.jpg")
    img.half(src="images/8.jpg")
  .first
    img.full(src="images/4.jpg")
    img.full(src="images/7.jpg")
    img.full(src="images/1.jpg")
    
